:root{
    --light-gray: #f8f8f8;
    --black: #4a4a4a;
}
body {
    margin: 0;
    background-color: #f7f7f7;
    font-family: "Open Sans";
}

/* 导航栏navbar */
.navbar-main {
    padding: 0;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}
.navbar-main .navbar-menu,
.navbar-start,
.navbar-end {
    align-items: stretch;
    display: flex;
    padding: 0;
}
.navbar-main .navbar-brand{
    padding: 0;
}
.navbar-main .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
    overflow-x: auto;
    box-shadow: none;
}
.navbar-main .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
}
.navbar-main .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
}
.navbar-main .navbar-item {
    display: flex;
    align-items: center;
    font-size: 0.88rem;
    padding: 1rem 0.75rem;
}
.navbar-main .navbar-item.active {
/*    color: hsl(217, 71%, 53%);*/
    color: var(--primary);
    border-top: 1.5px solid var(--primary);
    background-color: transparent;
}
@media screen and (max-width: 1088px) {
    .navbar-main .navbar-menu,
    .navbar-brand {
        justify-content: center;
    }

    .navbar-main .navbar-start {
        margin-right: 0;
    }

    .navbar-main .navbar-end {
        margin-left: 0;
    }
}

/*@media screen and (max-width: 768px){
    .navbar-main .navbar-menu, .navbar-brand{
        justify-content: center;
    }
    .navbar-main .navbar-start{
        margin-right: 0;
    }
    .navbar-main .navbar-end{
        margin-left: 0;
    }
}*/
/* 导航栏navbar -- END */

/* 底栏footer*/
footer{
    background-color: white;
    padding: 3rem 1.5rem 5rem;
    display: block;
}
footer .level{
    align-items: center;
    justify-content: space-between;
}
footer .level-start{
    align-items: center;
    justify-content: space-between;
}
.footer-logo{
    display: block;
}
.footer-logo img{
    max-height: 2rem;
    display: inline-block;
    vertical-align: top;
}
footer .level-end .field{
    display: flex;
}
footer .level-end .field .control{
    margin: 0.6rem 1rem;
    font-size: 1.4rem;
}
@media screen and (min-width: 768px){
    footer .level{
        display: flex;
    }
}
@media screen and (max-width: 768px){
    footer .level-start, .level-end{
        text-align: center;
    }
}
/* 底栏footer -- END */

/* 卡片card */
.card{
    border-radius: 8px;
    color: var(--black);
    max-width: 100%;
}
/* 卡片card -- END */

/* 文章article */
.article .article-meta{
    margin-bottom: 0.5rem;
}
.article a.read-more{
    background-color: whitesmoke;
    padding: 4px 8px;
    font-size: 0.8rem;
    color: var(--black);
    border-radius: 4px;
}
.article a.read-more:hover{
    background-color: #ededed;
}
.post:not(:last-child){
    margin-bottom: 1.5rem;
}
/* 文章article -- END */

/* 全文卡片full-article */
.full-article .content img{
    width: 100%;
    object-fit: contain;
}
/* 全文卡片full-article */

.menu-label{
    color: #7a7a7a;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
/* 最近文章列表 */
.recent-posts .media{
    margin-bottom: 0.75rem;
    align-items: flex-start;
    display: flex;
    text-align: left;
}
.recent-posts .media-left{
    box-shadow: none!important;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}
.recent-posts .media-content{
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
}
.recent-posts .thumbnail{
    width: 72px;
    height: 72px;
    box-shadow: none!important;
    object-fit: cover;
}
/* 最近文章列表 -- END */

/* 归档列表archive */
.archive .archive-list{
    line-height: 1.25;
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}
.archive .archive-list-item{
    display: flex;
    color: var(--black);
    padding: 0.5rem 0.75em;
    font-size: 0.84rem;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
}
.archive .archive-list-count{
    align-items: center;
    background-color: whitesmoke;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}
.archive .archive-list-item:hover{
    background-color: var(--light-gray);
    border-radius: 4px;
    transition: all 0.3s;
}
/* 归档列表archive -- END */

/* 分类列表category */
.category .menu-list{
    line-height: 1.25;
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}
.category .menu-list-child{
    border-left: 1.5px solid #dbdbdb;
    margin-left: 0.75em;
    padding-left: 0.75em;
    list-style: none;
}
.category .menu-list a.level{
    display: flex;
    color: var(--black);
    padding: 0.5rem 0.75em;
    font-size: 0.84rem;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
}
.category .menu-list-child a.level{
    padding: 0.36rem 0.75em;
}
.category .tag{
    align-items: center;
    background-color: whitesmoke;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}
.category .menu-list a:hover{
    border-radius: 4px;
}
/* 分类列表category -- END */

/* 标签列表tag */
.tag .field{
    margin-bottom: -0.75rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
}
.tag .control{
    flex-shrink: 0;
    clear: both;
    font-size: 0.75rem;
    position: relative;
    text-align: left;
}
.tag .control{
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
}
.tag .tag-name, .tag .tag-count{
    align-items: center;
    background-color: whitesmoke;
    color: #4a4a4a;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}
.tag .tag-name{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: 0.3s;
}
.tag .tag-count{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #e7e7e7;
}
.tag .control:hover .tag-name{
    background-color: #e7e7e7;
    transition: all 0.3s;
}
/* 标签列表tag -- END */


/* 标签云tagcloud */
.tagcloud a{
    padding: 0 0.25rem;
    border-radius: 4px;
}
/* 标签云tagcloud -- END */

/* 完整文章full-article */
.full-article .content a{
    color: var(--primary);
}
/* 完整文章full-article -- END */

/* 代码块区域 */
figure.highlight{
    padding: 0;
    font-family: "Consolas";
    background: #f1f2f3;
    border-radius: 4px;
    position: relative;
    overflow: auto;
    width: 100%;
}
figure.highlight table{
    width: auto;
}
figure.highlight tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
figure.highlight tr{
    display: table-row;
    vertical-align: inherit;
}
figure.highlight pre{
    margin-bottom: 0;
    font-size: 1rem;
}
figure.highlight .gutter{
    background: #dedede;
    text-align: right;
    padding: 0.25rem 0.5rem;
}
figure.highlight .code pre{
    padding: 0 0.75rem;
}
figure.highlight .hljs{
    background-color: transparent;
    padding: 0;
}
/* 代码块区域 -- END */

/* 页面加载进度条pace */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: var(--primary);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
/* 页面加载进度条pace -- END */

/* 分页器paginator */
.paginator{
/*    justify-content: space-between;*/
    align-items: center;
/*    display: flex;*/
    text-align: center;
    font-size: 1rem;
    margin: 1em 0;
}
.paginator .prev, .paginator .next{
    box-shadow: 0 4px 8px rgba(0,0,0,.08);
    background-color: white;
    border: none;
    padding: 0.2rem 0.75rem;
    white-space: nowrap;
    color: var(--black);
    min-width: 2.25em;
    justify-content: center;
    font-size: 1em;
    height: 2em;
    border-radius: 4px;
    align-items: center;
    display: inline-flex;
    font-weight: 500;
}
.paginator .prev{
    order: 1;
    margin-right: 0.75rem;
}
.paginator .next{
    order: 3;
    margin-left: 0.75rem;
}
.paginator span.current, .paginator a.page-number{
    box-shadow: 0 4px 8px rgba(0,0,0,.08);
    font-size: 1em;
    height: 2em;
    padding: 0.2rem 0.75rem;
    background: white;
    display: inline-flex;
    min-width: 2em;
    border-radius: 4px;
    font-weight: 500;
    order: 2;
    margin: 0 0.25em;
    align-items: center;
    justify-content: center;
}
.paginator span.current{
    background-color: var(--primary);
    color: white;
}
.paginator .prev:hover{
    background-color: var(--light-gray);
}
.paginator a.page-number:hover{
    background-color: var(--light-gray);
    color: var(--black);
}
/* 分页器paginator -- END*/



